html,
body {
  padding: 0;
  margin: 0;
}

body {
  
  margin: 0;
  background: linear-gradient(90deg,#000046,#1cb5e0);
}

.mb-4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

img{
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   }

 }
 
.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.slideIn {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0);
  }
}

.question, .ans {
  animation: slideIn 1s ease forwards;
}

  @keyframes confetti {
    0% {
        transform: translateY(-100vh) rotate(0deg);
        opacity: 0;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 1;
    }
}

.confetti {
    width: 10px;
    height: 10px;
    background-color: aqua;
    border-radius: 50%;
    position: absolute;
    animation: confetti 1s linear infinite;
}

img.mb-4 {
  max-width: 100%;
}
.text-center.mb-4.text-white {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}
.custom-font {
  font-size: 20px;
  color: #ebdfdf;
}

.custom-button {
  background-color: #FF5733;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  color: #fff;
}
.login-container {
  background: rgba(255, 255, 255, 0) !important; /* Fully transparent */
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); /* Add shadow */
  transform: rotateX(5deg) rotateY(5deg); /* Add 3D rotation */
}



